{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    {% block script %}
     <script>

		$(document).ready(function() {
	        var sTargetUrl2 = "https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=50&order=viewCount&key=AIzaSyA_O4ivUdtFpJOqbbNpVsIGrIgiQSAxld8";
            		 $("#get_view").empty();
    $.ajax({
    				type: "POST",
    				url: sTargetUrl2,
    				dataType: "jsonp",
    				async: false,
    				success: function(jdata) {
    					console.log(jdata);


    					$(jdata.items).each(function(i){
    					var div= $("<div/>").addClass('movie');
    					var div2 = $("<div/>").addClass('movie-image');
    					var a = $("<a/>").attr("href","https://youtu.be/"+this.id.videoId);
    					var img = $("<img/>").attr("src",this.snippet.thumbnails.medium.url);

                        var text = $("<div/>").addClass('multiple-line-ellipsis');
                         text.html(this.snippet.title);
    	    	$("#get_view").append(div.append(div2.append(a.append(img))).append(text));
          })
    				},

    			});
    	});


    </script>
    {% endblock %}
    <meta charset="UTF-8">
    <title>전체 목록</title>
</head>
<body>
{% block content %}
 <div id="main">
        <div id="content">
            <div class="box">
                <div class="head">
                    <h2>인기 동영상</h2>
          <p class="text-right"><a href="{% url 'moviemain' %}">메인으로 </a></p>


                </div>
                <div id="get_view"></div>

                <div class="cl">&nbsp;</div>
            </div>
        </div>
 </div>
{% endblock  %}
</body>
</html>