{% load static %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" href="{%static 'css/style.css' %}" media="all"/>
<body>
<div class="container">
    <!-- 로그인 창 -->
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">비밀번호 변경</div>
            </div>

            <div style="padding-top:30px" class="panel-body">
                {% for message in messages %}

                <div id="login-alert2" class="alert alert-danger col-sm-12"> {{message}}</div>


                {% endfor %}
                <!-- moviemain 페이지로 이동 -->
                <!-- DB에 username, password 값 이용해야 함 -->
                <form id="passwordchange" class="form-horizontal" role="form" method="post" >
                    {% csrf_token %}
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="old_password" type="text" class="form-control" name="old_password" value=""
                               placeholder="current password" required>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="new_password1" type="password" class="form-control" name="new_password1"
                               placeholder="new password" required>

                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="new_password2" type="password" class="form-control" name="new_password2"
                               placeholder="confirm password" required>
                    </div>


                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <button type="submit" id="btn-login" value="Password Change" class="btn btn-success">변경
                            </button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>

</div>
</body>